.userForm {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    min-width: 40%;
    justify-content: space-around;
    padding: 1.5em;
    background-color: rgb(135, 133, 133);
    border-radius: 0.3em;
    box-shadow: 0px 0px 19px 0px rgba(191, 189, 191, 1);
}

.userForm input,
.userForm select {
    color: black;
    all: unset;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: rgb(211, 211, 211);
}

.userForm button {
    all: unset;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: rgb(111, 111, 111);
}

.userForm button:hover {
    background-color: rgb(52, 123, 210);
}