$solidMedium:#5D7CA6;
$solidDark:#023059;
$solid:#03588C;
$solidLigth:#73A2BF;
$solidLighest:#F2CAA7;

/* Color Theme Swatches in Hex */

$Viajar-1-hex: #5D7CA6;
$Viajar-2-hex: #023059;
$Viajar-3-hex: #03588C;
$Viajar-4-hex: #73A2BF;
$Viajar-5-hex: #F2CAA7;

/* Color Theme Swatches in RGBA */

$Viajar-1-rgba: rgba(92, 124, 165, 1);
$Viajar-2-rgba: rgba(1, 48, 89, 1);
$Viajar-3-rgba: rgba(2, 87, 140, 1);
$Viajar-4-rgba: rgba(114, 161, 191, 1);
$Viajar-5-rgba: rgba(242, 202, 167, 1);

/* Color Theme Swatches in HSLA */

$Viajar-1-hsla: hsla(213, 29, 50, 1);
$Viajar-2-hsla: hsla(208, 96, 17, 1);
$Viajar-3-hsla: hsla(202, 96, 28, 1);
$Viajar-4-hsla: hsla(202, 37, 60, 1);
$Viajar-5-hsla: hsla(28, 74, 80, 1);